body {
  font-family: 'Roboto';
}
#pic {
  height: 12%;
  width: auto;
  border-radius: 25%;
  margin-left: auto;
  margin-right: auto;
}

.quotebox {
  margin-top: 15%;
  background-color: white;
  border-radius: 5px;
  width: 50%;'
}
#quote {
  text-align: center;
  font-size: 2em;
  padding-top: 1em;
}

#author {
  text-align: center;
  font-size: 1em;
}

.buttons {
  margin-bottom: 1em;
}
.btn {
  cursor:pointer;
  color: white;
}

.social {
  float: left;
  margin-left: 1em;
  width: 5%;
}

#new {
  float: right;
  margin-bottom: 1em;
}

.footer {
  text-align:center;
  margin-left : auto;
  margin-right: auto;
  font-size: 1em;
  color: white;
}
.footer a {
  font-weight:800;
  color: white;
}

.footer a:hover {
  text-decoration: none;
  color:black;
}