body {
  font-family: 'Roboto';
  on-load: set();
  height: 100%;
  width: 100%; 
}

.quotebox {
  background-color: white;
  margin: 25% 25% 5% 25%;
  border-radius: 5px;
  width: 50%;
}

#quote {
  text-align: center;
  font-size: 2em;
}

.buttons {
  margin-bottom: 1em;
}
.btn {
  cursor:pointer;
  color: white;
}

#tweet-quote, #fb-quote {
  float: left;
}

#fb_quote {
  margin-left: 2em;
}

#new {
  float: right;
}

.footer {
  width: 20%;
  text-align:center;
  margin-left : auto;
  margin-right: auto;
  font-size: 1em;
  color: white;
}
.footer a {
  font-weight:800;
  color: white;
}

.footer a:hover {
  text-decoration: none;
}